<%= form_with(model: squad_dna, local: true) do |form| %>
  <% if squad_dna.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(squad_dna.errors.count, "error") %> prohibited this squad_dna from being saved:</h2>

      <ul>
      <% squad_dna.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.hidden_field :squad_id, id: :squad_dna_squad_id, value: params[:squad_id] %>
  </div>
  <table class="table">
    <thead>
      <tr>
        <th colspan='4'>Squad DNA</th>
      </tr>
      <tr>
        <th colspan='4'>Weight your players' attributes and create your squad DNA! Squad DNA is calculated by summing up all of a player's attributes, but now you can easily weight those attributes and see how your players rank against eachother within your own playstyle or super system! 1 is the default weight. If passing is very important to your playstyle, bump that sucker up to 1.5! Don't give a shit about how well your players can take corners? Knock that shit down to 0.25! Now you've got a squad view that shows you who can play the style of football you are looking for! Recommended values: 0.25 - 2.0
        </th>
      </tr>
      <tr>
        <th>Technical</th>
        <th>Mental</th>
        <th>Physical</th>
        <th>Goalkeeping</th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td>
          <div class="field">
            Corners 
            <%= form.text_field :cor_m, id: :squad_dna_cor_m, value: 1, class:"input" %>
          </div>

          <div class="field">
            Crossing
            <%= form.text_field :cro_m, id: :squad_dna_cro_m, value: 1, class:"input" %>
          </div>

          <div class="field">
            Dribbling
            <%= form.text_field :dri_m, id: :squad_dna_dri_m, value: 1, class:"input" %>
          </div>

          <div class="field">
            Finishing
            <%= form.text_field :fin_m, id: :squad_dna_fin_m, value: 1, class:"input" %>
          </div>

          <div class="field">
            First Touch
            <%= form.text_field :fir_m, id: :squad_dna_fir_m, value: 1, class:"input" %>
          </div>

          <div class="field">
            Freekicks
            <%= form.text_field :fre_m, id: :squad_dna_fre_m, value: 1, class:"input" %>
          </div>

          <div class="field">
            Heading
            <%= form.text_field :hea_m, id: :squad_dna_hea_m, value: 1, class:"input" %>
          </div>

          <div class="field">
            Long Shots
            <%= form.text_field :lon_m, id: :squad_dna_lon_m, value: 1, class:"input" %>
          </div>

          <div class="field">
            Long Throws
            <%= form.text_field :lth_m, id: :squad_dna_lth_m, value: 1, class:"input" %>
          </div>

          <div class="field">
            Marking
            <%= form.text_field :mar_m, id: :squad_dna_mar_m, value: 1, class:"input" %>
          </div>

          <div class="field">
            Passing
            <%= form.text_field :pas_m, id: :squad_dna_pas_m, value: 1, class:"input" %>
          </div>

          <div class="field">
            Penalty Taking
            <%= form.text_field :pen_m, id: :squad_dna_pen_m, value: 1, class:"input" %>
          </div>

          <div class="field">
            Tackling
            <%= form.text_field :tck_m, id: :squad_dna_tck_m, value: 1, class:"input" %>
          </div>

          <div class="field">
            Technical
            <%= form.text_field :tec_m, id: :squad_dna_tec_m, value: 1, class:"input" %>
          </div>
        </td>
        <td>
          <div class="field">
            Aggression
            <%= form.text_field :agg_m, id: :squad_dna_agg_m, value: 1, class:"input" %>
          </div>

          <div class="field">
            Anticipation
            <%= form.text_field :ant_m, id: :squad_dna_ant_m, value: 1, class:"input" %>
          </div>

          <div class="field">
            Bravery
            <%= form.text_field :bra_m, id: :squad_dna_bra_m, value: 1, class:"input" %>
          </div>

          <div class="field">
            Composure
            <%= form.text_field :cmp_m, id: :squad_dna_cmp_m, value: 1, class:"input" %>
          </div>

          <div class="field">
            Concentration
            <%= form.text_field :cnt_m, id: :squad_dna_cnt_m, value: 1, class:"input" %>
          </div>

          <div class="field">
            Decisions
            <%= form.text_field :dec_m, id: :squad_dna_dec_m, value: 1, class:"input" %>
          </div>

          <div class="field">
            Determination
            <%= form.text_field :det_m, id: :squad_dna_det_m, value: 1, class:"input" %>
          </div>

          <div class="field">
            Flair
            <%= form.text_field :fla_m, id: :squad_dna_fla_m, value: 1, class:"input" %>
          </div>

          <div class="field">
            Leadership
            <%= form.text_field :ldr_m, id: :squad_dna_ldr_m, value: 1, class:"input" %>
          </div>

          <div class="field">
            Off the Ball
            <%= form.text_field :otb_m, id: :squad_dna_otb_m, value: 1, class:"input" %>
          </div>

          <div class="field">
            Positioning
            <%= form.text_field :pos_m, id: :squad_dna_pos_m, value: 1, class:"input" %>
          </div>

          <div class="field">
            Teamwork
            <%= form.text_field :tea_m, id: :squad_dna_tea_m, value: 1, class:"input" %>
          </div>

          <div class="field">
            Vision
            <%= form.text_field :vis_m, id: :squad_dna_vis_m, value: 1, class:"input" %>
          </div>

          <div class="field">
            Workrate
            <%= form.text_field :wor_m, id: :squad_dna_wor_m, value: 1, class:"input" %>
          </div>
        </td>
        <td>
          <div class="field">
            Acceleration
            <%= form.text_field :acc_m, id: :squad_dna_acc_m, value: 1, class:"input" %>
          </div>

          <div class="field">
            Agility
            <%= form.text_field :agi_m, id: :squad_dna_agi_m, value: 1, class:"input" %>
          </div>

          <div class="field">
            Balance
            <%= form.text_field :bal_m, id: :squad_dna_bal_m, value: 1, class:"input" %>
          </div>

          <div class="field">
            Jumping
            <%= form.text_field :jum_m, id: :squad_dna_jum_m, value: 1, class:"input" %>
          </div>

          <div class="field">
            Natural Fitness
            <%= form.text_field :nat_m, id: :squad_dna_nat_m, value: 1, class:"input" %>
          </div>

          <div class="field">
            Pace
            <%= form.text_field :pac_m, id: :squad_dna_pac_m, value: 1, class:"input" %>
          </div>

          <div class="field">
            Stamina
            <%= form.text_field :sta_m, id: :squad_dna_sta_m, value: 1, class:"input" %>
          </div>

          <div class="field">
            Strength
            <%= form.text_field :str_m, id: :squad_dna_str_m, value: 1, class:"input" %>
          </div>
        </td>
        <td>
          <div class="field">
            Aerial
            <%= form.text_field :aer_m, id: :squad_dna_aer_m, value: 1, class:"input" %>
          </div>

          <div class="field">
            Command of Area
            <%= form.text_field :cmd_m, id: :squad_dna_cmd_m, value: 1, class:"input" %>
          </div>

          <div class="field">
            Communication
            <%= form.text_field :com_m, id: :squad_dna_com_m, value: 1, class:"input" %>
          </div>

          <div class="field">
            Eccentricity
            <%= form.text_field :ecc_m, id: :squad_dna_ecc_m, value: 1, class:"input" %>
          </div>

          <div class="field">
            Handling
            <%= form.text_field :han_m, id: :squad_dna_han_m, value: 1, class:"input" %>
          </div>

          <div class="field">
            Kicking
            <%= form.text_field :kic_m, id: :squad_dna_kic_m, value: 1, class:"input" %>
          </div>

          <div class="field">
            1 v 1
            <%= form.text_field :onevone_m, id: :squad_dna_onevone_m, value: 1, class:"input" %>
          </div>

          <div class="field">
            Reflexes
            <%= form.text_field :ref_m, id: :squad_dna_ref_m, value: 1, class:"input" %>
          </div>

          <div class="field">
            Rushing Out
            <%= form.text_field :rus_m, id: :squad_dna_rus_m, value: 1, class:"input" %>
          </div>

          <div class="field">
            Tendency to Punch
            <%= form.text_field :pun_m, id: :squad_dna_pun_m, value: 1, class:"input" %>
          </div>

          <div class="field">
            Throwing
            <%= form.text_field :thr_m, id: :squad_dna_thr_m, value: 1, class:"input" %>
          </div>
        </td>
      </tr>
    </tbody>    
  </table>
    
  <table class="table">
    <thead>
      <tr>
        <th colspan='3'>Matchday Rating</th>
      </tr>
      <tr>
        <th colspan='3'>Matchday rating gives you an idea of which players are ready on matchday. It uses your customized squad DNA along with a few other factors to create a ranked shortlist for the day's match.</th>
      </tr>
      <tr>
        <th colspan='3'>Player General Rating = Sum of all attributes</th>
      </tr>
      <tr>
        <th colspan='3'>Player Squad DNA Rating = Sum of each attributes multiplied by its corresponding weight</th>
      </tr>
      <tr>
        <th colspan='3'>Player Matchday Rating = (DNA Rating + Games Missed Handicap + Match Sharpness Handicap) * (Condition + Overall Risk Handicap)</th>
      </tr>
      <tr>
        <th>Games Missed Handicap</th>
        <th>Match Sharpness Handicap</th>
        <th>Overall Risk Handicap</th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td>Each game missed (depending on squad status) will boost a player's Squad DNA Rating by a PERCENTAGE of their already calculated Squad DNA Rating.</td>
        <td>Every 5% below 100% Match Sharpness (depending on squad status) will boost a player's Squad DNA Rating by a PERCENTAGE of their already calculated Squad DNA Rating.</td>
        <td>Overall Risk will be added to a player's current condition before multiplying by their Squad DNA Rating to give the final Matchday Rating</td>
      </tr>
      <tr>
        <td>[Default: 0, will have no effect on Matchday Rating]<br>A Key Player with a Squad DNA Rating of 100, with a Games Missed Handicap of 10, who has missed 2 games will then have an updated Squad DNA Rating of 120. Recommended values: 0 - 25</td>
        <td>[Default: 0, will have no effect on Matchday Rating]<br>A Key Player with a Squad DNA Rating of 100, with a Match Sharpness Handicap of 15, who has a current Match Sharpness rating of 88% will then have an updated Squad DNA Rating of 130. Recommended values: 0 - 15</td>
        <td>[Default: 0, will have no effect on Matchday Rating]<br>A Key Player with a Squad DNA Rating of 100, with 'High injury risk' and 95% Condition, and a Overall Risk Handicap of -50 for 'High injury risk', will then have Matchday Rating of 45. Recommended values: (-75) - 25</td>
      </tr>

      <tr>
        <td>
          <div class="field">
            Key Player
            <%= form.text_field :key_g_mis_h, id: :squad_dna_key_g_mis_h, value: 0, class:"input" %>
          </div>
          <div class="field">
            First Team
            <%= form.text_field :fir_g_mis_h, id: :squad_dna_fir_g_mis_h, value: 0, class:"input" %>
          </div>
          <div class="field">
            Rotation
            <%= form.text_field :rot_g_mis_h, id: :squad_dna_rot_g_mis_h, value: 0, class:"input" %>
          </div>
          <div class="field">
            Backup
            <%= form.text_field :bac_g_mis_h, id: :squad_dna_bac_g_mis_h, value: 0, class:"input" %>
          </div>
          <div class="field">
            Hot Prospect
            <%= form.text_field :hot_g_mis_h, id: :squad_dna_hot_g_mis_h, value: 0, class:"input" %>
          </div>
          <div class="field">
            Youngster
            <%= form.text_field :you_g_mis_h, id: :squad_dna_you_g_mis_h, value: 0, class:"input" %>
          </div>
        </td>
        <td>
          <div class="field">
            Key Player
            <%= form.text_field :key_shp_h, id: :squad_dna_key_shp_h, value: 0, class:"input" %>
          </div>

          <div class="field">
            First Team
            <%= form.text_field :fir_shp_h, id: :squad_dna_fir_shp_h, value: 0, class:"input" %>
          </div>

          <div class="field">
            Rotation
            <%= form.text_field :rot_shp_h, id: :squad_dna_rot_shp_h, value: 0, class:"input" %>
          </div>

          <div class="field">
            Backup
            <%= form.text_field :bac_shp_h, id: :squad_dna_bac_shp_h, value: 0, class:"input" %>
          </div>

          <div class="field">
            Hot Prospect
            <%= form.text_field :hot_shp_h, id: :squad_dna_hot_shp_h, value: 0, class:"input" %>
          </div>

          <div class="field">
            Youngster
            <%= form.text_field :you_shp_h, id: :squad_dna_you_shp_h, value: 0, class:"input" %>
          </div>
        </td>
        <td>
          <div class="field">
            Low injury risk
            <%= form.text_field :low_ris_h, id: :squad_dna_low_ris_h, value: 0, class:"input" %>
          </div>

          <div class="field">
            Normal injury risk
            <%= form.text_field :nor_ris_h, id: :squad_dna_nor_ris_h, value: 0, class:"input" %>
          </div>

          <div class="field">
            Increased injury risk
            <%= form.text_field :inc_ris_h, id: :squad_dna_inc_ris_h, value: 0, class:"input" %>
          </div>

          <div class="field">
            High injury risk
            <%= form.text_field :hig_ris_h, id: :squad_dna_hig_ris_h, value: 0, class:"input" %>
          </div>

          <div class="field">
            Very high injury risk
            <%= form.text_field :ver_ris_h, id: :squad_dna_ver_ris_h, value: 0, class:"input" %>
          </div>
        </td>
      </tr>
    </tbody>
  </table>

  <div class="actions">
    <%= form.submit class: 'button is-primary' %>
  </div>
<% end %>
