<p id="notice"><%= notice %></p>

<p>
  <strong>Squad:</strong>
  <%= @squad_dna.squad.team_name %>
</p>

<p>
  <strong>Cor m:</strong>
  <%= @squad_dna.cor_m %>
</p>

<p>
  <strong>Cro m:</strong>
  <%= @squad_dna.cro_m %>
</p>

<p>
  <strong>Dri m:</strong>
  <%= @squad_dna.dri_m %>
</p>

<p>
  <strong>Fin m:</strong>
  <%= @squad_dna.fin_m %>
</p>

<p>
  <strong>Fir m:</strong>
  <%= @squad_dna.fir_m %>
</p>

<p>
  <strong>Fre m:</strong>
  <%= @squad_dna.fre_m %>
</p>

<p>
  <strong>Hea m:</strong>
  <%= @squad_dna.hea_m %>
</p>

<p>
  <strong>Lon m:</strong>
  <%= @squad_dna.lon_m %>
</p>

<p>
  <strong>Lth m:</strong>
  <%= @squad_dna.lth_m %>
</p>

<p>
  <strong>Mar m:</strong>
  <%= @squad_dna.mar_m %>
</p>

<p>
  <strong>Pas m:</strong>
  <%= @squad_dna.pas_m %>
</p>

<p>
  <strong>Pen m:</strong>
  <%= @squad_dna.pen_m %>
</p>

<p>
  <strong>Tck m:</strong>
  <%= @squad_dna.tck_m %>
</p>

<p>
  <strong>Tec m:</strong>
  <%= @squad_dna.tec_m %>
</p>

<p>
  <strong>Agg m:</strong>
  <%= @squad_dna.agg_m %>
</p>

<p>
  <strong>Ant m:</strong>
  <%= @squad_dna.ant_m %>
</p>

<p>
  <strong>Bra m:</strong>
  <%= @squad_dna.bra_m %>
</p>

<p>
  <strong>Cmp m:</strong>
  <%= @squad_dna.cmp_m %>
</p>

<p>
  <strong>Cnt m:</strong>
  <%= @squad_dna.cnt_m %>
</p>

<p>
  <strong>Dec m:</strong>
  <%= @squad_dna.dec_m %>
</p>

<p>
  <strong>Det m:</strong>
  <%= @squad_dna.det_m %>
</p>

<p>
  <strong>Fla m:</strong>
  <%= @squad_dna.fla_m %>
</p>

<p>
  <strong>Ldr m:</strong>
  <%= @squad_dna.ldr_m %>
</p>

<p>
  <strong>Otb m:</strong>
  <%= @squad_dna.otb_m %>
</p>

<p>
  <strong>Pos m:</strong>
  <%= @squad_dna.pos_m %>
</p>

<p>
  <strong>Tea m:</strong>
  <%= @squad_dna.tea_m %>
</p>

<p>
  <strong>Vis m:</strong>
  <%= @squad_dna.vis_m %>
</p>

<p>
  <strong>Wor m:</strong>
  <%= @squad_dna.wor_m %>
</p>

<p>
  <strong>Acc m:</strong>
  <%= @squad_dna.acc_m %>
</p>

<p>
  <strong>Agi m:</strong>
  <%= @squad_dna.agi_m %>
</p>

<p>
  <strong>Bal m:</strong>
  <%= @squad_dna.bal_m %>
</p>

<p>
  <strong>Jum m:</strong>
  <%= @squad_dna.jum_m %>
</p>

<p>
  <strong>Nat m:</strong>
  <%= @squad_dna.nat_m %>
</p>

<p>
  <strong>Pac m:</strong>
  <%= @squad_dna.pac_m %>
</p>

<p>
  <strong>Sta m:</strong>
  <%= @squad_dna.sta_m %>
</p>

<p>
  <strong>Str m:</strong>
  <%= @squad_dna.str_m %>
</p>

<p>
  <strong>Aer m:</strong>
  <%= @squad_dna.aer_m %>
</p>

<p>
  <strong>Cmd m:</strong>
  <%= @squad_dna.cmd_m %>
</p>

<p>
  <strong>Com m:</strong>
  <%= @squad_dna.com_m %>
</p>

<p>
  <strong>Ecc m:</strong>
  <%= @squad_dna.ecc_m %>
</p>

<p>
  <strong>Han m:</strong>
  <%= @squad_dna.han_m %>
</p>

<p>
  <strong>Kic m:</strong>
  <%= @squad_dna.kic_m %>
</p>

<p>
  <strong>Onevone m:</strong>
  <%= @squad_dna.onevone_m %>
</p>

<p>
  <strong>Ref m:</strong>
  <%= @squad_dna.ref_m %>
</p>

<p>
  <strong>Rus m:</strong>
  <%= @squad_dna.rus_m %>
</p>

<p>
  <strong>Pun m:</strong>
  <%= @squad_dna.pun_m %>
</p>

<p>
  <strong>Thr m:</strong>
  <%= @squad_dna.thr_m %>
</p>

<p>
  <strong>Key g mis h:</strong>
  <%= @squad_dna.key_g_mis_h %>
</p>

<p>
  <strong>Key shp h:</strong>
  <%= @squad_dna.key_shp_h %>
</p>

<p>
  <strong>Fir g mis h:</strong>
  <%= @squad_dna.fir_g_mis_h %>
</p>

<p>
  <strong>Fir shp h:</strong>
  <%= @squad_dna.fir_shp_h %>
</p>

<p>
  <strong>Rot g mis h:</strong>
  <%= @squad_dna.rot_g_mis_h %>
</p>

<p>
  <strong>Rot shp h:</strong>
  <%= @squad_dna.rot_shp_h %>
</p>

<p>
  <strong>Bac g mis h:</strong>
  <%= @squad_dna.bac_g_mis_h %>
</p>

<p>
  <strong>Bac shp h:</strong>
  <%= @squad_dna.bac_shp_h %>
</p>

<p>
  <strong>Hot g mis h:</strong>
  <%= @squad_dna.hot_g_mis_h %>
</p>

<p>
  <strong>Hot shp h:</strong>
  <%= @squad_dna.hot_shp_h %>
</p>

<p>
  <strong>You g mis h:</strong>
  <%= @squad_dna.you_g_mis_h %>
</p>

<p>
  <strong>You shp h:</strong>
  <%= @squad_dna.you_shp_h %>
</p>

<p>
  <strong>Low ris h:</strong>
  <%= @squad_dna.low_ris_h %>
</p>

<p>
  <strong>Nor ris h:</strong>
  <%= @squad_dna.nor_ris_h %>
</p>

<p>
  <strong>Inc ris h:</strong>
  <%= @squad_dna.inc_ris_h %>
</p>

<p>
  <strong>Hig ris h:</strong>
  <%= @squad_dna.hig_ris_h %>
</p>

<p>
  <strong>Ver ris h:</strong>
  <%= @squad_dna.ver_ris_h %>
</p>

<%= link_to 'Edit', edit_squad_squad_dna_path(@squad, @squad_dna) %> |
<%= link_to 'Back', squad_squad_dnas_path(@squad) %>
