<table class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth">
  <thead>
    <tr>
      <th><%= sort_link "uid", "UID" %></th>
      <th><%= sort_link "name", "Name" %></th>
      <th><%= sort_link "sqd_rat", "Squad Rating" %></th>
      <th><%= sort_link "mtc_rat", "Match Rating" %></th>
      <th><%= sort_link "squad_status", "Squad Status" %></th>
      <th><%= sort_link "age", "Age" %></th>
      <!-- <th>< %= sort_link "height", "Height" %></th>
      <th>< %= sort_link "weight", "Weight" %></th> -->
      <th><%= sort_link "position", "Position" %></th>
      <th><%= sort_link "second_position", "Secondary Position" %></th>
      <!-- <th>< %= sort_link "strength", "Pro" %></th>
      <th>< %= sort_link "weakness", "Con" %></th> -->
      <th><%= sort_link "condition", "Condition" %></th>
      <th><%= sort_link "mtc_shp", "Match Sharpness" %></th>
      <th><%= sort_link "g_mis", "Games Missed in a Row" %></th>
      <th><%= sort_link "overall_risk", "Overall Risk" %></th>
      <th><%= sort_link "injury", "Injury" %></th>
      <th><%= sort_link "time_out", "Time Out" %></th>
      <!-- <th>< %= sort_link "cor", "Corners" %></th>
      <th>< %= sort_link "cro", "Crossing" %></th>
      <th>< %= sort_link "dri", "Dribbling" %></th>
      <th>< %= sort_link "fin", "Finishing" %></th>
      <th>< %= sort_link "fir", "First Touch" %></th>
      <th>< %= sort_link "fre", "Free Kicks" %></th>
      <th>< %= sort_link "hea", "Heading" %></th>
      <th>< %= sort_link "lon", "Long Shots" %></th>
      <th>< %= sort_link "lth", "Long Throws" %></th>
      <th>< %= sort_link "mar", "Marking" %></th>
      <th>< %= sort_link "pas", "Passing" %></th>
      <th>< %= sort_link "pen", "Penalty Taking" %></th>
      <th>< %= sort_link "tck", "Tackling" %></th>
      <th>< %= sort_link "tec", "Technical" %></th>
      <th>< %= sort_link "agg", "Aggression" %></th>
      <th>< %= sort_link "ant", "Anticipation" %></th>
      <th>< %= sort_link "bra", "Bravery" %></th>
      <th>< %= sort_link "cmp", "Composure" %></th>
      <th>< %= sort_link "con", "Concentration" %></th>
      <th>< %= sort_link "dec", "Decisions" %></th>
      <th>< %= sort_link "det", "Determination" %></th>
      <th>< %= sort_link "fla", "Flair" %></th>
      <th>< %= sort_link "lea", "Leadership" %></th>
      <th>< %= sort_link "otb", "Off The Ball" %></th>
      <th>< %= sort_link "pos", "Positioning" %></th>
      <th>< %= sort_link "tea", "Teamwork" %></th>
      <th>< %= sort_link "vis", "Vision" %></th>
      <th>< %= sort_link "wor", "Workrate" %></th>
      <th>< %= sort_link "acc", "Acceleration" %></th>
      <th>< %= sort_link "agi", "Agility" %></th>
      <th>< %= sort_link "bal", "Balance" %></th>
      <th>< %= sort_link "jum", "Jumping" %></th>
      <th>< %= sort_link "nat", "Natural Fitness" %></th>
      <th>< %= sort_link "pac", "Pace" %></th>
      <th>< %= sort_link "sta", "Stamina" %></th>
      <th>< %= sort_link "str", "Strength" %></th>
      <th>< %= sort_link "aer", "Aerial Reach" %></th>
      <th>< %= sort_link "cmd", "Command of Area" %></th>
      <th>< %= sort_link "comm", "Communication" %></th>
      <th>< %= sort_link "ecc", "Eccentricity" %></th>
      <th>< %= sort_link "han", "Handling" %></th>
      <th>< %= sort_link "kic", "Kicking" %></th>
      <th>< %= sort_link "onevone", "1V1" %></th>
      <th>< %= sort_link "ref", "Reflexes" %></th>
      <th>< %= sort_link "rus", "Rushing" %></th>
      <th>< %= sort_link "pun", "Punching" %></th>
      <th>< %= sort_link "thr", "Throwing" %></th> -->
    </tr>
  </thead>

  <tbody>
    <% players.each do |player| %>
      <tr>
        <td><%= player.uid %></td>
        <td><%= link_to player.name, squad_player_path(@squad, player) %></td>
        <td><%= number_with_precision(player.sqd_rat, :precision => 1) %></td>
        <td><%= number_with_precision(player.mtc_rat, :precision => 1) %></td>
        <td><%= player.squad_status %></td>
        <td><%= player.age %></td>
        <!-- <td>< %= player.height %></td>
        <td>< %= player.weight %></td> -->
        <td><%= player.position %></td>
        <td><%= player.second_position %></td>
        <!-- <td>< %= player.strength %></td>
        <td>< %= player.weakness %></td> -->
        <td><%= player.condition %></td>
        <td><%= player.mtc_shp %></td>
        <td><%= player.g_mis %></td>
        <td><%= player.overall_risk %></td>
        <td><%= player.injury %></td>
        <td><%= player.time_out %></td>
        <!-- <td>< %= player.cor %></td>
        <td>< %= player.cro %></td>
        <td>< %= player.dri %></td>
        <td>< %= player.fin %></td>
        <td>< %= player.fir %></td>
        <td>< %= player.fre %></td>
        <td>< %= player.hea %></td>
        <td>< %= player.lon %></td>
        <td>< %= player.lth %></td>
        <td>< %= player.mar %></td>
        <td>< %= player.pas %></td>
        <td>< %= player.pen %></td>
        <td>< %= player.tck %></td>
        <td>< %= player.tec %></td>
        <td>< %= player.agg %></td>
        <td>< %= player.ant %></td>
        <td>< %= player.bra %></td>
        <td>< %= player.cmp %></td>
        <td>< %= player.cnt %></td>
        <td>< %= player.dec %></td>
        <td>< %= player.det %></td>
        <td>< %= player.fla %></td>
        <td>< %= player.ldr %></td>
        <td>< %= player.otb %></td>
        <td>< %= player.pos %></td>
        <td>< %= player.tea %></td>
        <td>< %= player.vis %></td>
        <td>< %= player.wor %></td>
        <td>< %= player.acc %></td>
        <td>< %= player.agi %></td>
        <td>< %= player.bal %></td>
        <td>< %= player.jum %></td>
        <td>< %= player.nat %></td>
        <td>< %= player.pac %></td>
        <td>< %= player.sta %></td>
        <td>< %= player.str %></td>
        <td>< %= player.aer %></td>
        <td>< %= player.cmd %></td>
        <td>< %= player.com %></td>
        <td>< %= player.ecc %></td>
        <td>< %= player.han %></td>
        <td>< %= player.kic %></td>
        <td>< %= player.onevone %></td>
        <td>< %= player.ref %></td>
        <td>< %= player.rus %></td>
        <td>< %= player.pun %></td>
        <td>< %= player.thr %></td> -->
      </tr>
    <% end %>
  </tbody>
</table>

